extends layout

block content
  .container
    .overview-title-container
      h1= title
    
    section.overview
      section.card
        h3 Total Reps
        span= totals.reps

      section.card
        h3 Total Responses
        span= totals.responses
        
      section.card
        h3 Total Responses
        span= totals.ratio
          span %
      
      section.card
        h3 Total Mentors not responded yet
        span= totals.noMentorResponse
      
      section.card
        h3 Total Reps with an inactive (?) mentor
        span= totals.repsWithNoMentorResponse
    
      section.card
        h3 Total Mobilizers
        span= totals.mobilizers
      
      section.card
        h3 Total Functional Doers
        span= totals.functional
        
      section.card
        h3 Ratio of mobilizers
        span= totals.choiceRatio
          span %
